@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

.container{
    text-align: center;
    margin-top: 25px;
}
table{
    margin: auto;
}

input{
    border: 5px solid #244624;
    font-size: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
}

button{
    background: #978fa0;
    font-size: 40px;
    width: 110px;
    height: 57px;
    border-radius: 6px;
}

.calculator{
    background-color: darkgray;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}

